<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text color="primary">
    <h1>About Prescription Helper</h1>
    this free and open spurce mobile can helps you to manage your medical prescription for people who have many prescriptions for long time.
    How it's work ?
    Take photo of your prescription and fill informations. That's all.
    Where are store my datas ?
    All your datas are store on you mobile device (into localstorage to be exact). Nothing are upload on network.
    It's free ?
    You this app is fully freen and even open source. So If you want take code app to make your own you have the right.
  </ion-text>
  <ion-text color="warning">
    Warning: If you delete this app from your mobile device all localstorage (area where this app store data) will be delete
  </ion-text>
</ion-content>
