<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add prescription
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="prescription-form">
      <label for="title">Title</label>
      <ion-input type="text" [(ngModel)]="prescriptionTitle"></ion-input>
      <label for="dateOfPrescription">Date</label>
      <ion-input type="date" [(ngModel)]="dateOfPrescription"></ion-input>
      <label for="numberWillUse">Number will use</label>
      <ion-input type="number" min="1" max="12" [(ngModel)]="prescriptionNumberWillUse"></ion-input>
      <label for="numberOfUsed">Number of used</label>
      <ion-input type="number" min="0" max="12" [(ngModel)]="prescriptionNumberOfUsed"></ion-input>
      <label for="comments">Comments</label>
      <ion-input type="text" [(ngModel)]="prescriptionComments"></ion-input>
      
      <ng-container *ngIf="!edit_view">
        <label for="imageUpload" class="custom-file-input-label">Upload Image</label>
        <input type="file" class="file-input" accept="image/*" id="imageUpload" (change)="onImageUpload($event)"/>
      </ng-container>
      <ng-container *ngIf="edit_view">
        <label for="imageUpload" class="custom-file-input-label">
          Image
          <input type="file" id="imageUpload" (change)="onImageUpload($event)" accept="image/*" style="display: none">
          <button name="pencil" class="edit-icon"></button>
        </label>
        <div style="display: flex; justify-content: center; align-items: center;">
          <img [src]="imageURL" style="width: 100%; height: auto;"/>
        </div>
        
      </ng-container>
      
    </div>
    <ion-button expand="full" type="submit" (click)="onSubmit()"> {{ edit_view ? 'Modify' : 'Add' }}</ion-button>
   
</ion-content>