<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Prescription List
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

      <div *ngIf="prescriptions.length <= 0">
        <!-- No have prescription registed -->
        <p class="no-prescription">You havn't prescriptions saved</p>
      </div>
      <div *ngIf="prescriptions.length > 0">
        <div size="12" *ngFor="let prescription of prescriptions; index as position">
          <div class="prescription-card" [style.background-color]="prescription.numberWillUse - prescription.numberOfUsed <= 0 ? 'red' : 'black'">
            <div class="dropdown">
              <button>Actions</button>
              <div class="dropdown-content">
                <a (click)="update(prescription.id)" style="cursor: pointer;">Edit</a>
                <a (click)="deletePrescription(prescription.id)" style="cursor: pointer;">Delete</a>
              </div>
            </div>
            <div class="container-prescription-img" [class]="prescription.numberWillUse - prescription.numberOfUsed <= 0 ? 'color-black' : 'color-white'">
              <img class="prescription-img" [src]="prescription.image"/>
              <span class="prescription-name">{{prescription.title}} <span *ngIf="prescription.numberWillUse - prescription.numberOfUsed <= 0">(OUT)</span> </span>
              <span class="prescription-date">{{prescription.dateOfPrescription | date}} 
                Used: {{prescription.numberOfUsed}} 
                Rest: {{prescription.numberWillUse - prescription.numberOfUsed}}
              </span>
            </div>
          </div>
        </div></div>

</ion-content>