.prescription-img {
    height: 200px;
    img {
        max-height: 200px;
    }
}

.prescription-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: #fff;
    border: solid 2px gray;
}

.container-prescription-img {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.color-black {
    color: black;
}

.color-white {
    color: white;
}

.prescription-name {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.prescription-date, .prescription-comments {
    font-weight: bold;
    font-size: 14;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style the button that triggers the dropdown */
  .dropdown button {
    background-color: #3498db; /* Set your desired background color */
    color: white; /* Set your desired text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  